asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.6
Django==6.0.2
dj-database-url==3.0.0
gunicorn==25.1.0
idna==3.11
joblib==1.5.3
numpy==2.4.4
packaging==26.0
pillow==12.3.0
protobuf==7.34.1
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
PyYAML==6.0.3
requests==2.33.0
six==1.17.0
sqlparse==0.5.5
stripe==15.1.0
threadpoolctl==3.6.0
tqdm==4.67.3
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
whitenoise==6.12.0
